*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.Piscine{
    width: 70vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: -20px;
}
section{
    height: 140vh;
}
.Dev{
    display:flex; 
    margin-left:25px;
     margin-top:20px;
}
.Fercia{
    margin-top:2rem;
     width: 100px;
}
.Erouane{
    opacity: 70%;
}
.Yohann{
    height:70px; 
    width:70px
}
.Family{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
.Parent{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.Right ul li{
    list-style-type: none;
    position: relative;
}
.Right ul li::before{

    content:"";
    background-color: #E79434;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    bottom: 8px;
    left: -1rem;
}
.Fercia{
    opacity: 90%;
}
.Lighter{
    font-weight: lighter;
}
.bb{
    background-color:black ;font-family: 'Poppins', sans-serif; color: white; height: 50px; width: 150px; font-size: 1.2rem;
}
.bb:hover{
 background-color: blueviolet;
}
.lleny{
    background-color:black ;font-family: 'Poppins', sans-serif; color: white; height: 50px; width: 150px; font-size: 1.2rem; margin-top: 2rem;
}
.lleny:hover{
    background-color: greenyellow;
}
.loulou{
    height: 2rem; 
    width: 100px; 
    border: 2px solid black;
    background-color: transparent; 
}
.loulou:hover{
    background-color: pink;
}
.fefe{
    height:50px; width:100px;font-family: 'Poppins', sans-serif; font-size: 1rem; background-color: transparent; border: 2px solid black; margin-top :4.4rem;">
}
.fefe:hover{
    background-color: aquamarine;
}
.gabin{
    font-family: 'Poppins', sans-serif;margin-top: 20px;height: 40px; width: 100px; border: 2px solid black; background-color: transparent;
}
.gabin:hover{
    background-color: black;
}

.gradient{
    width: 200px;
    height: 110px;
    transform: rotate(-30deg);
    border-radius: 50px;
    opacity: .45;
    filter: blur(38px);
    background: rgb(255,248,90);
    background: radial-gradient(circle, rgb(90, 255, 255) 0%, rgba(0,194,255,1) 80%, rgba(255,2,169,0.9547991071428571) 100%);
}
.pointer{
    cursor: pointer;
}
.mine{
    height: 25px;width: 30px; border: 1px solid rgba(0, 0, 0, 0.521); background-color: transparent; margin-left: 1rem;
}
.mine:hover{
    background-color: black;
}
.input{
    border: none;
    outline: none;
    text-align: center;
    background-color: transparent;
    width: 97%;
    font-family: 'Poppins', sans-serif;font-size: 15px;
}
.input::placeholder{
    color: black;
}